@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
body {
    position: relative;
    height: 100%;
    
  }
.background-img {
    background: url(/public/img/cover_pratibimbweb.png);
    background-repeat: repeat-x;
    height: 40.6rem;
}

.text {
    color: white;
    padding-top: 15rem;
    padding-left: 31rem;
    font-size: 3rem;
    z-index: 1;
    font-family: "Rancho", cursive;
}

.text span {
    font-family: "Rancho", cursive;
    font-size: 5rem;
}

.events {
    padding-top: 10px;
    background-color: rgb(30, 29, 29);
    font-family: "Rancho", cursive;
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.swiper-container{
    background-color: rgb(30, 29, 29);
}
.swiper {
    width: 50%;
    top: 6px;
    bottom: -10px;
    overflow:visible !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-pagination{
    position: relative !important;
    top: -40px !important;
    
}